.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 12px 20px;
  background-color: var(--primary-dark-color);

  &__logo {
    box-sizing: content-box;
    margin-bottom: var(--margin-xl);;
    padding-left: 20px;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  &__title--all {
    color: var(--primary-purple-color);
    position: relative;

    &::after {
      content: '>';
      position: absolute;
      right: -15px;
      transition: right 0.3s ease;
    }

    &:hover::after {
      right: -20px;
    }
  }

  &__sub-list {
    margin-bottom: 20px;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding: 4px 16px;
    color: var(--primary-purple-color);
    background-color: var(--primary-dark-lighter-color);

    &__info-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &__settings-link {
      color: inherit;
    }

    .username {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
    }

  }

}

.sidebar__menu {
  display: grid;
  gap: var(--spacing-sm);
  margin-bottom: var(--margin-xl);

  &-link-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }

  &-link {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-md);
    padding: 8px 16px;

    &:hover {
      color: var(--primary-purple-color);
      background-color: var(--primary-dark-lighter-color);
    }
  }
}

.active-link {
  color: var(--primary-purple-color);
  background-color: var(--primary-dark-lighter-color);
}
