<nav class="sidebar">
  <img alt="logo" class="sidebar__logo" height="74" ngSrc="/assets/imgs/small-logo.png" priority width="61" />
  <ul class="sidebar__menu">
    @for (item of menu; track item.path) {
      <li class="sidebar__menu-item">
        <a
          class="sidebar__menu-link"
          routerLinkActive="active-link"
          [routerLink]="[item.path]"
          [routerLinkActiveOptions]="{ exact: item.path === '/' }"
        >
          <app-svg-icon name="menu" [icon]="item.icon" />
          <span class="sidebar__menu-link-text">{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>
  <h6 class="sidebar__title">Подписчики</h6>
  <ul class="sidebar__sub-list">
    @for (item of subscribers$ | async; track item.id; let i = $index) {
      <app-user-preview [avatar]="item.avatarUrl" [firstName]="item.firstName" [lastName]="item.lastName" />
    }
  </ul>
  <h6>
    <a class="sidebar__title sidebar__title--all" href="">Все подписчики</a>
  </h6>
  @if (me(); as me) {
    <div class="user">
      <div class="user__info-wrapper">
        <span>
          <app-avatar [size]="avatarSizes.SM" [url]="me.avatarUrl" />
        </span>
        <span class="username">{{ me.username }}</span>
      </div>
      <a class="user__settings-link" [routerLink]="['/settings']">
        <app-svg-icon icon="settings-icon" name="common" />
      </a>
    </div>
  }
</nav>
