.button {
  width: 100%;
  min-height: 44px;
  min-width: 44px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--primary-purple-color);
  border: none;
  gap: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.ghost {
  background-color: transparent;
  color: white;
  border: 1px solid var(--primary-white-color);
}

.square {
  padding: 10px;
}
