.settings {
  height: 100%;
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 24px;

  &_user-info {
    padding: 0 24px 33px 24px;
  }

  &_user-settings {
    height: 100%;
    padding: 32px;
    border: 1px solid var(--primary-white-color);
    background-color: var(--primary-dark-color);

    .settings-form {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__about {
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
      }

      &__buttons {
        margin-top: auto;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        justify-content: flex-end;
        gap: 20px;
      }
    }
  }
}
