:host {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px 20px;
  border-bottom: 1px solid var(--primary-white-color);
}

.companion {
  display: flex;
  align-items: center;
  gap: 12px;
}
