<section class="login-container">
  <div class="login-container__content">
    <div class="login-form">
      <h2 class="login-form__title">Вход</h2>
      <form class="login-form__form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="login-form__form-group">
          <label class="login-form__label" for="username">Telegram username</label>
          <input class="login-form__input" formControlName="username" id="username" name="username" placeholder="Введите логин" type="text" />
          <span class="login-form__input-btn telegram-icon">
            <svg class="icon">
              <use href="/assets/icons/svg-sprites/login.svg#tg" />
            </svg>
          </span>
        </div>
        <div class="login-form__form-group">
          <label class="login-form__label" for="password">Пароль</label>
          <input
            class="login-form__input"
            formControlName="password"
            id="password"
            name="password"
            placeholder="Введите пароль"
            [type]="isPasswordVisible() ? 'text' : 'password'"
          />
          <button class="login-form__input-btn password-icon" type="button" [class.active]="isPasswordVisible()" (click)="togglePasswordVisibility()">
            <svg class="icon">
              <use href="/assets/icons/svg-sprites/login.svg#eye" />
            </svg>
          </button>
        </div>
        <app-button type="submit">Войти</app-button>
      </form>
    </div>
    <img alt="Картинка Тик Толк" height="430" ngSrc="/assets/imgs/big-logo.png" priority width="440" />
  </div>
</section>
