.avatar-upload-wrapper {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 20px;
}

.avatar-input {
  display: grid;
  place-items: center center;
  padding: 16px;
  border: 1px dashed var(--primary-white-color);

  &__text {
    text-align: center;
    line-height: 1.5;

    .load-btn {
      color: var(--primary-purple-color);
      cursor: pointer;
    }
  }

  .input {
    display: none;
  }

  .icon {
    padding-top: 15px;
  }
}

.avatar-img {
  object-fit: cover;
  border-radius: 50%;
}

.fileover {
  border-color: var(--primary-purple-color);
}
