.avatar {
  font-size: 0;
  border-radius: 50%;
}

.small {
  width: 32px;
  height: 32px;
}

.medium {
  width: 71px;
  height: 71px;
}

.big {
  width: 112px;
  height: 112px;
}

.large {
  width: 140px;
  height: 140px;
}
