.textarea-wrapper {
  width: 100%;
}

.textarea-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.textarea {
  width: 100%;
  padding: 10px 15px;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-white-color);
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  &:focus {
    outline: none;
  }
}
